<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
      <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
      <title>Automation Testing Result</title>
      <meta name="author" content="" />
      <meta name="description" content="" />
      <meta name="keywords"  content="" />
      <meta name="Resource-type" content="Document" />
   </head>
   <style>
      @page {
      size: 7in 9.25in;
      margin: 27mm 16mm 27mm 16mm;
      }
      .fa-exclamation-circle {color:gold}
      .fa-times-circle {color:red;}
      .fa-check-circle {color:green;}
      .tbl-order th {
      background-color: #eeeeee;
      text-align:center;
      }
      .tbl-order td {
      font-size: 10px;
      }
      .tbl-order th, .tbl-order td, .tbl-price-list td{
      padding: 0px;
      }
   </style>
   <body>
      <!--Body Message-->
      <div style="margin:0;padding:0;color:#333;font-style:normal;line-height:1.42857143;font-size:11px;font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;text-align:left;background-color:#ffffff">
         <table style="border-collapse:collapse;width:100%;margin:10 auto;" >
         <tbody>
            <tr>
               <td>
                  <table>
                     <tbody>
                        <tr>
                           <td style="padding:10px;text-align:center">
                              <img align="right" src="https://storageb2cprod.blob.core.windows.net/asset-b2c-prod/aop/logo-aop.png" alt="Astra Oto Shop" style="border:0;height:auto;line-height:100%;outline:none;text-decoration:none" width="140px" height="52" border="0">
                           </td>
                        </tr>
                        <tr>
                           <td style="padding-top:5px; border-top:5px solid #0033A0; font-size: 11px;">
                              <p style="font-size:13px"> <b>TEST DETAIL</b> <br>
                              </p>
                              <table style="width: 100%; border-collapse: collapse; border: 1px solid rgb(234, 234, 234);">
                                 <tbody>
                                    <tr>
                                       <td colspan="5"style="vertical-align: top; padding: 5px;font-size: 10px ">
                                          <b>Scenario 1 </b><br>
                                          Melakukan order produk Suku Cadang dilanjutkan proses pembatalan
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="width:15%;padding-left: 5px;vertical-align: top; font-size: 10px ">
                                          Order Number
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : 2240600068
                                       </td>
                                       <td style="width:10%;vertical-align: top;font-size: 10px ">
                                          Receiver
                                       </td>
                                       <td colspan="2"style="vertical-align: top; font-size: 10px ">
                                         : Sindi Yulia
                                       </td>
                                    </tr>
                                     <tr>
                                       <td rowspan ="2" style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Order Date
                                       </td>
                                       <td rowspan="2" colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : 08/02/2024, 22:20:58 WIB
                                       </td>
                                       <td style="width:10%;vertical-align: top;font-size: 10px ">
                                          Phone
                                       </td>
                                       <td colspan="2"style="vertical-align: top; font-size: 10px ">
                                         : 087757921231
                                       </td>
                                    </tr>
                                    <tr>
                                       
                                       <td style="width:10%;vertical-align: top;font-size: 10px ">
                                          Address
                                       </td>
                                       <td colspan="2"style="vertical-align: top; font-size: 10px ">
                                         : Jl Kemayoran Gempol RT 12 RW 4 No 09, Gg. Sejahtera Kec. Kemayoran, Kota. KOTA ADM. JAKARTA PUSAT, Provinsi. DKI JAKARTA, 10630
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="3"style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Product Detail:
                                       </td>
                                        <td style="width:15%;vertical-align: top; font-size: 10px ">
                                          Order
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          SKU
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : 550062463+4042292510016+
                                       </td>
                                       <td style="width:10%;vertical-align: top;font-size: 10px ">
                                          Shipping Method
                                       </td>
                                       <td colspan="2"style="vertical-align: top; font-size: 10px ">
                                         : SICEPAT - SiCepat Besok Sampai Tujuan
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Outlet
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : MOTOQUICK PASAR MINGGU 2
                                       </td>
                                       <td style="width:10%;vertical-align: top;font-size: 10px ">
                                          Payment Method
                                       </td>
                                       <td colspan="2"style="vertical-align: top; font-size: 10px ">
                                         : Mandiri VA
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Product Price
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : 54000
                                       </td>
                                       
                                      
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Qty Order
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : 2
                                       </td>
                                        <td style="width:15%;vertical-align: top; font-size: 10px ">
                                          <b>Grand Total</b>
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : 49000
                                       </td>                                 
                                                                           
                                    </tr>
                                    <tr>
                                       <td colspan="6"style="text-align:left;padding-left: 5px;padding-top:10px;width:15%;vertical-align: top; font-size: 10px ">
                                          <b>Coupon Usage</b>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Code
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : HOME001
                                       </td>                                     
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Status
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : Coupon Not Found!
                                       </td>                                     
                                    </tr>
                                    <tr>
                                       <td colspan="6"style="text-align:left;padding-left: 5px;padding-top: 10px;width:15%;vertical-align: top; font-size: 10px ">
                                          <b>Stock Validation</b>
                                       </td>
                                    </tr>
                                    <tr class ="tbl-order">
                                       <td colspan="6">
                                       <table style="text-align:center;width: 100%; border-collapse: collapse; border: 0.5px solid rgb(234, 234, 234);">
                                       <th style="width:33%;">Before Order</th>
                                       <th style="width:33%;">After Order</th>
                                       <th style="width:33%;">After Cancel</th>
                                       <tr>
                                       <td>1000</td>
                                       <td>1000</td>
                                       <td>1000</td>
                                       </tr>
                                       </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td colspan="6"style="text-align:left;padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          <b>Point Validation</b>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Amount
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : 5000
                                       </td>                                     
                                    </tr>
                                    <tr>
                                       <td style="padding-left: 5px;width:15%;vertical-align: top; font-size: 10px ">
                                          Status
                                       </td>
                                       <td colspan="2"style="width:25%; vertical-align: top; font-size: 10px ">
                                          : Success use point
                                       </td>                                     
                                    </tr>
                                    <tr class ="tbl-order">
                                       <td colspan="6">
                                       <table style="text-align:center;width: 100%; border-collapse: collapse; border: 0.5px solid rgb(234, 234, 234);">
                                       <th style="width:33%;">Before Order</th>
                                       <th style="width:33%;">After Order</th>
                                       <th style="width:33%;">After Cancel</th>
                                       <tr>
                                       <td>1000</td>
                                       <td>1000</td>
                                       <td>1000</td>
                                       </tr>
                                       </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
      </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script type="text/javascript" src="js/fullpage.js"></script>
      <script type="text/javascript" src="js/examples.js"></script>
   </body>
</html>