p {
    color: blueviolet;
    font-size: 30px;
}

body {
    margin:0;
    padding:0;
    color:#333;
    font-style:normal;
    font-family:'Open Sans',sans-serif;
    text-align:left;
    background-color:white;
}
table, validation {
    border-collapse:collapse;
    width:100%;
    margin:10 auto;
}

.detail , .flow{
    font-size: 9px;
    padding-top: 5px;  
}
.flow td {
    padding-left: 5px;
    padding-right: 5px;

}
.detail th {
    font-size: 10px;
    color: #333;
    padding-left: 5px;
}
.detail td {
    text-indent: -5px;
    padding-left: 10px;
    padding-right: 5px;

}
.validation th {
    font-size: 9px;
    text-align: center;
    background-color: lightgrey;
    padding: 2px;
    width: 33%;
    border: 1px solid lightgrey
}
.validation td {
    text-align: center;
    border: 1px solid lightgrey
}
.detail td , .flow td, .validation td{
    vertical-align: middle;
}

